@font-face {
  font-family: 'Press2P';
  src: url(fonts/PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url(fonts/Inter.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF6E8;
  font-family: 'Inter', sans-serif;
}

h1, .title, .info, #btn, #site-name {
  font-family: 'Press2P', sans-serif;
}

.container {
  background-color: #9bbeb2;
  border-radius: 30px;
  width: 921px;
  height: 489px;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.full-desc{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 200px;
  padding-bottom: 20px;
}

#site-name {
  font-family: 'Press2P', sans-serif;
  font-size: 60px;
  color: black;
  padding-top: 30px;
  text-align: left;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 10px;
  text-align: center;
  max-width: 500px;
}

.info {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-right: 70px;
  padding-bottom: 20px;
}

.desc-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}


#poster {
  margin-right: 40px;
  width: 230px;
  height: 345px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#desc, .site-desc {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
}

#desc {
    max-width: 500px;
    max-height: 300px;
    font-size: 17px;
}

.site-desc {
  text-align: center;
  width: 50%;
  padding-bottom: 20px;
}

#btn {
  font-family: 'Press2P', sans-serif;
  font-size: 15px;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.4s ease;
}

#btn:hover {
  transform: scale(1.03);
}


#logo {
  width: 250px;
  height: 150px;
  margin-left: 200px;
}

#director {
  max-width: 400px;
  font-size: 13px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  font-style: italic;
  text-decoration: underline;
}

h1, p {
  margin: 0;
}
